  *{
    box-sizing: border-box;
  }
  body{
    background-color: #ffe8ef;
    font-family: 'Kaushan Script', cursive;
    margin: 0px;
  }
  #try {
    background-image: url(pictures/money.jpg);
    background-repeat: round;
    font-family: 'Josefin Sans', sans-serif;
    height: 300px;
  }

  #title{
    padding-top: 0.5em;
    font-family: 'Lobster', cursive;
    font-size: 6em;
    color: #FFD2FE;
    text-shadow: -1px 0 #C779B5, 0 1px #C779B5, 1px 0 #C779B5, 0 -1px #C779B5;
  }

  #choose{
    font-family: 'Merienda One', cursive;
    font-size: 2.5em;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 1em;
    position: relative;
    width: 100%;
  }

  .btn{
    background-color: #FFD2FE;
    width: 25%;
    color: cornflowerblue;
    size: 3em;
    position: absolute;
    margin-left: 20px;
   font-size: 2em;
   text-align: center;
   
  }
  .btn:hover{
  background-color: ivory;
  }

  .image{
  padding-top: 3em;
  top: 20px;
  padding-left: 20px;
  height: 30%;
  width: 30%;
  }

  .section{
    position: relative;
  }

  .main-header{
  width: 100%;
  background-color: rgb(185, 108, 248);
  padding: 8px 16px;
  vertical-align: middle;
  position: absolute;
  
  }
  .main-header > div{
    display: inline-block;
    vertical-align: middle;
    font-size: 22px;
    color: #d9caec;
  }

  
  .main-nav{
    display: inline-block;
    font-size: 20px;
    text-align: right;
    width: calc(100% - 200px);
    vertical-align: middle;
  }

  .main-nav__items{
  margin: 0px;
  padding: 0px;
  list-style: none;
  
  
}

  .main-nav__item{
    display: inline-block;
    margin: 0 16px;
   
    
  }

  .main-nav__item > a{
    color: #d9caec;
    text-decoration: none;
    font-weight: bold;
    padding: 3px 0;
    
  }

  .main-nav__item a:hover{
    color: rgb(238, 182, 110);
    border-bottom: 5px solid white;
    
    
  }

  .main-nav__item--cta a{
    color: white;
    background-color: teal;
    padding: 8px 16px;
    border-radius: 8px;
  }

  .main-nav__item--cta a:hover{
    color: teal;
    background-color: white;
    border: none;
  }