  *{
    box-sizing: border-box;
  }
  body{
    background-color: #ffe8ef;
    font-family: 'Kaushan Script', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  #try {
    background-image: url(pictures/money.jpg);
    background-repeat: round;
    font-family: 'Josefin Sans', sans-serif;
    height: 300px;
  }

  #title{
    padding-top: 0.5em;
    font-family: 'Lobster', cursive;
    font-size: 6em;
    color: #FFD2FE;
    text-shadow: -1px 0 #C779B5, 0 1px #C779B5, 1px 0 #C779B5, 0 -1px #C779B5;
  }

  #choose{
    font-family: 'Merienda One', cursive;
    font-size: 2.5em;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 1em;
    position: relative;
    width: 100%;
  }

  .btn{
    background-color: #FFD2FE;
    width: 25%;
    color: cornflowerblue;
    size: 3em;
    position: absolute;
    margin-left: 20px;
   font-size: 2em;
   text-align: center;
   
  }
  .btn:hover{
  background-color: ivory;
  }

  .image{
  padding-top: 3em;
  top: 20px;
  padding-left: 20px;
  height: 30%;
  width: 30%;
  }

  .section{
    position: relative;
  }

  nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #9B5271;
  }

  .logo h4{
    color: #d9caec;
    font-size: 30px;
    padding-bottom: 20px;
  }

    .nav-links{
      display: flex;
      width: 40%;
      justify-content: space-around;
    }
    .nav-links a{
      color: #d9caec;
      text-decoration: none;
      font-size: 22px;
    }
    .nav-links li{
      list-style: none;
    }

    .main-nav__item a:hover::after{
      width: 100%;
      transition: width .3s;
      
    }
  
    .main-nav__item a::after{
      content: '';
      display: block;
      width: 0;
      height: 2px;
      color: #F4ACB7;
      border-bottom: 5px solid #FFE5D9;
    }

    .main-nav__item--cta{
      margin: 0 16px;
  }
    .main-nav__item--cta a{
      text-decoration: none;
      
      color: white;
      background-color: #AB6460;
      padding: 8px 16px;
      border-radius: 8px;
    }
  
    .main-nav__item--cta a:hover{
      color: #AB6460;
      background-color: white;
      border: none;
    }

    