  *{
    box-sizing: border-box;
  }
  body{
    background-color: #ffe8ef;
    font-family: 'Kaushan Script', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  #try {
    background-image: url(pictures/money.jpg);
    background-repeat: round;
    font-family: 'Josefin Sans', sans-serif;
    
    
      
  }

  nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #9B5271;
  }

  .logo h4{
    color: #f3bcde;
    font-size: 30px;
    padding-bottom: 20px;
  }

    .nav-links{
      display: flex;
      width: 60%;
      justify-content: space-around;
    }
    .nav-links a{
      color: #f3bcde;
      text-decoration: none;
      font-size: 22px;
    }
    .nav-links li{
      list-style: none;
    }

    .main-nav__item a:hover::after{
      width: 100%;
      transition: width .3s;
      
    }
  
    .main-nav__item a::after{
      content: '';
      display: block;
      width: 0;
      height: 2px;
      color: #F4ACB7;
      border-bottom: 5px solid #F4ACB7;
    }

    .main-nav__item--cta{
      margin: 0 16px;
  }
    .main-nav__item--cta a{
      text-decoration: none;
      color: #f3bcde;
      background-color: #AB6460;
      padding: 8px 16px;
      border-radius: 8px;
    }
  
    .main-nav__item--cta a:hover{
      color: #AB6460;
      background-color: #f3bcde;
      border: none;
    }

    .burger{
      display: none;
    }
    .burger div{
      width: 25px;
      height: 3px;
      margin: 5px;
      background-color: #FFE5D9;
    }
    #title{
      padding-top: 0.5em;
      font-family: 'Lobster', cursive;
      font-size: 6em;
      color: #FFD2FE;
      text-shadow: -1px 0 #C779B5, 0 1px #C779B5, 1px 0 #C779B5, 0 -1px #C779B5;
    }
  
    #choose{
      font-family: 'Merienda One', cursive;
      font-size: 2.5em;
      text-align: center;
      padding-top: 0.5em;
      padding-bottom: 1em;
      position: relative;
      width: 100%;
    }
  
    .section{
      display: flex;
    }
  
    .image{
      padding-top: 2em;
      padding: 2em;
      height: 100%;
      width: 100%;
     
    }
  
    .butt{
      display: flex;
      align-content: center;
      align-items: center;
      align-self: center;
      flex-direction: column;
      
    }

    .btn{
      background-color: #FFD2FE;
      color: cornflowerblue;
      height: 5.5vh;
     font-size: 2.5vh;
     text-align: center;
     border-radius: 4px;
     width: 70%;
    }
    .btn:hover{
    background-color: ivory;
    }
   
    
    
    
    
    @media screen and (max-width:1296px){
      .nav-links{
      width: 70%;
    }

    .section{
      display: unset;
    }
    .image{
      padding-top: 2.5em;
      padding-bottom: 5.5em;
      height: 70%;
      width: 70%;
     
    }
    .butt{
      display: flex;
      align-content: center;
      align-items: center;
      align-self: center;
      flex-direction: column;
    }


  .btn{
    width: 40%;
    height: 7.5vh;
    font-size: 4.5;
  }
      }
    
      @media screen and (max-width:1060px){
        .nav-links{
        width: 80%;
      }

      .image{
        height: 70%;
        width: 70%;
       
      }
    
      .butt{
        display: flex;
        align-content: center;
        align-items: center;
        align-self: center;
        flex-direction: column;
      }

    .btn{
      width: 65%;
      height: 7.5vh;
      font-size: 4.5;
    }
        }
    
@media screen and (max-width:1024px){
     body{
      overflow-x: hidden;
    }
    #choose{
      position: unset;
    }
    #try{
      display: none;
    }
    .btn{
      position: unset;
    }
  
    .nav-links{
      position: absolute;
      right: 0;
      height: 92vh;
      top: 8vh;
      background-color: #9B5271;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;
    }


    .burger{
      display: block;
      cursor: pointer;
    }
    }

@media screen and (max-width:1024px){
  .nav-links{

    top: 8vh;
   
  }
   
    }

@media screen and (max-width: 420px){
  .image{
    height: 100%;
    width: 100%;
  }
}

    .nav-active{
      transform: translateX(0%);
    }