body {
  background-color: #FFFFFF;
  }

#banner {
  background-image: linear-gradient(rgba(226, 247, 247, 0.4), rgba(241, 248, 248, 0.4)),url(pictures/banner.jpg); 
}

#title {
  color:#3C6E71;
  text-shadow: 3px 3px 6px #60abaf;
}

.content {
  background-color: #D9D9D9;
  border: 5px solid #353535;
}

#button-submit {
  background-color: #284B63;
  color: #D9D9D9;
}

#button-submit:hover {
  color: #FFFFFF;
}

.main-header {
  background-color: #3C6E71; 
}

.main-nav__item a::after {
  border-bottom: 5px solid #D9D9D9;
}

.main-nav__item--cta a {
  color: #D9D9D9;
  background-color: #284B63;
}

.main-nav__item--cta a:hover {
  color: #284B63;
  background-color: #D9D9D9;
}

form input {
  background-color: #3C6E71;
}

form input:hover {
  background-color: #D9D9D9;
}