body {
  background-color: #F7EDE2;
}

#banner {
  background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)),url(pictures/banner.jpg);
}

#title {
  color:#F6BD60;
  text-shadow: 3px 3px 6px #b88d48;
}

.content {
background-color: #F5CAC3;
border: 5px solid #84A59D;
}

#button-submit {
background-color: #F6BD60;
color: black;
}

#button-submit:hover {
color: #F7EDE2;
}

.main-header {
background-color: #F6BD60;
}

.main-header > div {
  color: rgb(32, 29, 30);
}

.main-nav__item > a {
  color: rgb(32, 29, 30);
}

.main-nav__item a::after {
  border-bottom: 5px solid #F28482;
}

.main-nav__item--cta > a {
  color: rgb(32, 29, 30);
}

.main-nav__item--cta a {
  color: #F7EDE2;
  background-color: #F28482;
}

.main-nav__item--cta a:hover {
  color: #F28482;
  background-color: #F7EDE2;
}

form input {
  background-color: #F6BD60;
}

form input:hover {
  background-color: #F7EDE2;    
}