body {
  background-color: #EDF6F9;
}

#banner {
  background-image: linear-gradient(rgba(248, 248, 248, 0.4), rgba(128, 241, 198, 0.4)),url(pictures/banner.jpg);
}

#title {
  color: #83C5BE;
  text-shadow: 3px 3px 6px #466663;
}

.content {
background-color: #FFDDD2;
border: 5px solid #E29578;
}

#button-submit {
  background-color: #83C5BE;
}

#button-submit:hover {
  color: #EDF6F9;
}

.main-header {
  background-color: #006D77;
}

.main-nav__item a::after {
  color: #F4ACB7;
  border-bottom: 5px solid #83C5BE;
}

.main-nav__item--cta a {
  color: #EDF6F9;
  background-color: #83C5BE;
}

.main-nav__item--cta a:hover {
  color: #83C5BE;
  background-color: #EDF6F9;
}

form input {
  background-color: #83C5BE;
}

form input:hover {
  background-color: #F0E6EF;    
}