*{
    box-sizing: border-box;
  }

body{
    background-color: #F0E6EF;
    text-align: center;
    font-family: 'Lobster', cursive;
    margin: 0;
  }

#banner{
    background-image: linear-gradient(rgb(255, 183, 173, 0.4), rgba(173, 198, 255, 0.4)),url(pictures/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
    
  }

  #title{
    font-size: 70px;
    color: #9C89B8;
    text-shadow: 3px 3px 6px #75668b;
    font-family: 'Lobster', cursive;
    opacity: 1;
  }

  .for-flex{
  display: flex;
  align-items: center;
  justify-content: center;
  
  }

.content{
margin-top: 40px;
background-color: #EFC3E6;
width: 50%;
border: 5px solid #F0A6CA;
}

.content > ul {
    list-style-type: none;
}

#namePalette{
  font-size: 25px;
}

#input{
  width: auto;
  height: 40px;
  text-align: center;
  font-size: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#button-submit{
  margin-top: 16px;
  width: 30%;
  font-size: 20px;
  background-color: #9C89B8;
  border-radius: 5px;
}

#button-submit:hover{
  color: #F0E6EF;
}

#restart{
  margin-right: 20px;
  width: auto;
  font-size: 25px;
  background-color:khaki ;
  border-radius: 5px;
  border: 0;
  padding: 17px;
}

#wining a:hover, button:hover{
  color: lightcoral;
}
#winning a{
  font-size: 25px;
  background-color: lightcoral;
  border-radius: 5px;
  text-decoration: none;
  color: rgb(32, 29, 30);
  padding: 20px;
}



#wrong{
  background-color: lightcoral;
  width: 40%;
  height: 40%;
  margin-top: 19%;
  margin-left: 30%;
  opacity: 0.97;
}

#winning{
  background-color: rgb(233, 250, 76);
  width: 40%;
  height: 40%;
  margin-top: 19%;
  margin-left: 30%;
  opacity: 0.97;
}

#correct h1{
font-size: 90px;
margin-top: 14%;
}

#wrong h1{
  font-size: 90px;
  margin-top: 10%;
}
#winning > h1{
font-size: 90px;
margin-top: 10%;
}
.close:hover { 
  background-color: #F4ACB7;
}

.close {
  cursor: pointer;
  position: absolute;
  top: 50%;
  padding: 12px 16px;
  transform: translate(0%, -50%);
  font-size: 40px;
  margin-left: 40%;
}

.message{
  padding: 12px 16px;
}

.main-header{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: #B8BEDD;
  padding: 8px 16px;
  vertical-align: middle;
  
  }
  .main-header > div{
    display: inline-block;
    vertical-align: middle;
    font-size: 22px;
    color: rgb(32, 29, 30);
  }

  
  .main-nav{
    display: inline-block;
  
    font-size: 20px;
    text-align: right;
    width: calc(100% - 200px);
    vertical-align: middle;
  }

  .main-nav__items{
  margin: 0px;
  padding: 0px;
  list-style: none;
  
  
}

  .main-nav__item{
    display: inline-block;
    margin: 0 16px;
   
    
  }

  .main-nav__item > a{
    color: rgb(32, 29, 30);
    text-decoration: none;
    font-weight: bold;
    padding: 3px 0;
    display: inline-block;
  }

  .main-nav__item a:hover::after{
    width: 100%;
    transition: width .3s;
    
  }

  .main-nav__item a::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    color: #F4ACB7;
    border-bottom: 5px solid #9C89B8;
  }

  .main-nav__item--cta{
      display: inline-block;
      margin: 0 16px;
  }

  .main-nav__item--cta > a{
    color: rgb(32, 29, 30);
    text-decoration: none;
    font-weight: bold;
    padding: 3px 0;
    display: inline-block;
  }

  .main-nav__item--cta a{
    color: #EFC3E6;
    background-color: #9C89B8;
    padding: 8px 16px;
    border-radius: 8px;
  }

  .main-nav__item--cta a:hover{
    color: #9C89B8;
    background-color: #EFC3E6;
    border: none;
  }

  form input{
    background-color: #9C89B8;
    font-size: 30px;
    border-radius: 10px;
    height: 50px;
    width: 60px;
    font-weight: bold;
    
    }

    form input:hover{
        background-color: #F0E6EF;
        
        }

  form{
      display: none;
  }

 
    @media screen and (max-width: 600px){
        form{
            display: inline-block;
            margin: 0;
            position: absolute;
            left: 0;
            
            
        }

        
      .main-header{
        display: none;
      }
      .for-flex{
        display: flex;
        align-items: center;
        justify-content: center;
        }

      #picture{
        width: 100%;
        height: 100%;
      }
      #input{
        width: 100%;
      }
      #button-submit{
        width: 90%;
      }
      .content{
      width: 90%;
      border: 2px solid rgb(255, 161, 148);
      justify-content: center
      }
      
      #correct, #wrong, #winning{
        background-color: ivory;
        width: 80%;
        height: 40%;
        margin: 70% 10%;
        opacity: 0.97;
        
      }

      #winning{
        background-color: rgb(233, 250, 76);
      }

      #wrong{
        background-color:  lightcoral;
      }
      
      #correct h1,
      #wrong h1,
      #winning h1{
        font-size: 70px;
        padding-top: 20%;
        }

      
    }

    @media screen and (min-width: 600px){
  
      form{
        display: inline-block;
        padding: 10px;
        position: absolute;
        left: 0;
        
        
    }
      
      .main-header{
        display: none;
      }
      .content{
        width: 80%;
        }

        #correct, #wrong, #winning{
          width: 80%;
          height: 40%;
          margin: 45% 10%;
          background-color: ivory;
          opacity: 0.97;
        }

        #wrong{
          background-color:  lightcoral;
        }

        #winning{
          background-color: rgb(233, 250, 76);
        }
        #correct h1,
        #wrong h1,
        #winning h1{
          font-size: 90px;
          padding-top: 5%;
          }
    }
  

    @media screen and (min-width: 768px){
      

      #correct, #wrong, #winning{ 
        width: 70%;
        height: 40%;
        margin: 35% 15%;
      }
      
      #correct h1,
      #wrong h1,
      #winning h1{
        font-size: 80px;
        padding-top: 10%;
        }
      .content{
        width: 70%;
        
        }
    }


    @media screen and (min-width: 992px){
        

      #correct, #wrong, #winning{ 
        width: 60%;
        height: 40%;
        margin: 30% 20%;
      }
      
      #correct h1, 
      #wrong h1,
      #winning h1{
        font-size: 80px;
        padding-top: 5%;
        }
    }

    @media only screen and (min-width: 1200px) {
      form{
        display: none;
        
        
    }
        .main-header{
            display: block;
          }
      #correct, #wrong, #winning{ 
        width: 60%;
        height: 40%;
        margin: 17% 20%;
      }
      
      #correct h1,
      #wrong h1,
      #winning h1{
        font-size: 90px;
        
        

        }
    }
    