body {
  background-color: #F0E6EF;
}

#banner {
  background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(173, 198, 255, 0.5)),url(pictures/banner.jpg);
}

#title {
  color: #9C89B8;
  text-shadow: 3px 3px 6px #75668b;
}

.content {
  background-color: #EFC3E6;
  border: 5px solid #F0A6CA;
}

#button-submit {
  background-color: #9C89B8;
}

#button-submit:hover {
  color: #F0E6EF;
}

.main-header {
  background-color: #B8BEDD;
}

.main-header > div {
  color: rgb(32, 29, 30);
}

.main-nav__item > a{
  color: rgb(32, 29, 30);
}

.main-nav__item a::after {
  color: #F4ACB7;
  border-bottom: 5px solid #9C89B8;
}

.main-nav__item--cta > a {
  color: rgb(32, 29, 30);
}

.main-nav__item--cta a {
  color: #EFC3E6;
  background-color: #9C89B8;
}

.main-nav__item--cta a:hover {
  color: #9C89B8;
  background-color: #EFC3E6;
}

form button {
  background-color: #9C89B8;
}

form button:hover {
  background-color: #F0E6EF;
  color: black;
}